.dashboard-container{
    background-color: #D9E021;
    min-height: 100vh;
    padding: 4%;
    margin-left: 150px;
}

@media (max-width: 768px) {
    .dashboard-container{
        margin-left: 0;
        padding: 14% 4% 4%;
    }
}