.home-container{
    background-color: #f3f3f3;
    min-height: 100vh;
    margin: 0;
    margin-left: 60px;
    padding: 0px 10px 0px 10px;
}

h1{
    margin: 0;
}

.task-container{
    background-color: grey;
    padding: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-modal {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal input,
  .modal select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }