.home-container {
  background-color: #f3f3f3;
  min-height: 100vh;
  margin: 0;
  margin-left: 150px;
  padding: 4% 4%;
}

.header-section {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
}

.header {
  margin: 0;
}

.task-container {
  background-color: grey;
  padding: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input,
.modal select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.task-container {
  background-color: #f3f3f3;
  /* border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgb(170, 170, 170) inset;  */
}

.task-list {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  /* max-height: 300px; */
  margin-top: 16px;
  gap: 10px;
  white-space: nowrap;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  /*IOS Shenanigans*/
}

.task-list::after {
  content: "";
  flex: 0 0 20vw;
  /* change 25vw to control how much extra scroll space you want */
}

@media (max-width: 760px) {
  .home-container {
    margin-left: 0;
    overflow: hidden;
    width: 100vw;
    padding: 14% 4% 4%;
  }

  .task-list {
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
    flex-direction: column;
    height: 100vh !important;
  }

  .task-list::after {
    content: none;
    /* remove fake spacer */
  }

}

.add-button {
  background-color: #d9e021;
  border: none;
  padding: 2%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  bottom: 4%;
  right: 4%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card {
  background-color: #d9e021;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 4px 4px 0px rgb(154, 154, 154);
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 0px;
  justify-content: flex-start;
  min-width: 140px;
  max-width: 240px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.task-name{
  font-size: 22px;
  margin: 0;
}

.due-date{
  margin-top: 0;
}

.status, .priotity{
  margin: 0;
}

.status{
  margin-bottom: 16px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .task-list{
    height: 100%;
  }
  .task-card {
    background-color: #d9e021;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 4px 0px rgb(154, 154, 154);
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 0;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 200px;
    min-width: unset;
    max-width: unset;
    height: fit-content;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
  }
}
