.home-container{
    background-color: #f3f3f3;
    min-height: 100vh;
    margin: 0;
    margin-left: 60px;
    padding: 0px 10px 0px 10px;
}

h1{
    margin: 0;
}

.task-container{
    background-color: grey;
    padding: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .add-modal {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal input, .modal select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .task-container{
    background-color: #f3f3f3;
    /* border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgb(170, 170, 170) inset;  */
  }
  
  .task-list {
    display: flex;   
    overflow-x: auto;
    overflow-y: auto;
    max-height: 300px;      
    gap: 10px;            
    white-space: nowrap;  
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch; /*IOS Shenanigans*/   
  }
  
  .task-list::after {
    content: "";
    flex: 0 0 20vw;     /* change 25vw to control how much extra scroll space you want */
  }

  @media (max-width: 600px) {
    .task-list {
      flex-direction: column;   /* stack vertically */
      overflow-x: hidden;       /* disable horizontal scroll */
      overflow-y: auto;         /* enable vertical scroll */
      white-space: normal;      /* allow text to wrap */
      height: auto;             /* let content expand naturally */
    }
  
    .task-list::after {
      content: none;            /* remove fake spacer */
    }
  }

  .task-card {
    background-color: #D9E021;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 4px 0px rgb(154, 154, 154);
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 10px;
    justify-content: flex-start;

    min-width: 140px;
    max-width: 140px;

    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word;
    overflow-y: auto;
  }

  